<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		
		<script src="/lib/jquery-2.1.1.min.js"></script>
		<script src="/lib/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/lib/bootstrap-3.2.0-dist/css/bootstrap.min.css"></link>
		<title>
			<ui:insert name="title"/>
		</title>
		<style>
			body{
				padding-top:65px;
				padding-bottom: 40px;
			}
		</style>
	</h:head>
	
	<body>
	<div class="container">
	<!-- ====================Navbar==================== -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="http://localhost">OSMS</a>
				</div><!-- /navbar-header -->
				
				<div class="navbar-collapse collapse">

					<ul class="nav navbar-nav">

						<ui:repeat value="#{showCategory.categories}" var="category">
							<li>
								<h:link outcome="showCategory">#{category.name}
									<f:param name="cId" value="#{category.id}"></f:param>								
								</h:link>
							</li>
						</ui:repeat>
					</ul><!-- /nav navbar-nav -->
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Category <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><h:link outcome="newCategory">New</h:link></li>
								<li><h:link outcome="searchCategory">Search</h:link></li>
							</ul>
						</li><!-- dropdown -->

						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Product <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><h:link outcome="newProduct">New</h:link></li>
								<li><h:link outcome="searchProduct">Search</h:link></li>
							</ul>
						</li><!-- /dropdown -->
						<li class="dropdown">
							<h:link outcome="showRequest" value="Cart" styleClass="glyphicon glyphicon-shopping-cart"
									data-toggle="tooltip" data-placement="bottom" title="Total: #{showProduct.total}" id="cart">
								<span class="badge">#{showProduct.request.products.size()}</span>
							</h:link>
						</li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"><span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><h:link outcome="searchRequest">Search Request</h:link></li>
							</ul>
						</li><!-- /dropdown -->
					</ul><!-- /nav navbar-nav navbar-right -->
				</div><!-- /navbar-collapse -->
			</div> <!-- /container -->
		</div> <!-- /navbar -->

		
	<!-- ==================== Logo + Serch Area ==================== -->
		<h:form>
			<div class="clearfix">
				<div class="center-block">
					<div class="col-sm-4">
						<h:graphicImage
							url="http://static.kabum.com.br/conteudo/temas/001/imagens/topo/logo_kabum_.png" />
					</div>
					<div class="input-group col-sm-offset-5">
						<h:inputText class="form-control" p:placeholder="Search"/>
						
						<span class="input-group-btn">
							<h:commandButton class="btn btn-primary" value="Search" />
						</span>
					</div>
					<!-- /input-group -->
				</div>
			</div>


	<!-- ====================Bread Crumb==================== -->
			<div>
				<ol class="breadcrumb alert alert-info">
					<li><h:commandLink action="#{showCategory.clearBreadCrumb}"
									   value="Home" />
					</li>
					<ui:repeat var="category" value="#{showCategory.breadCrumb}">
						<li>
							<h:link outcome="showCategory" value="#{category.name}"
								disabled="#{showCategory.lastCategory(category)}">
								<f:param name="cId" value="#{category.id}"></f:param>
							</h:link>
						</li>
					</ui:repeat>
				</ol>
			</div>
		</h:form>
		
	<!-- ====================Body Area==================== -->
		<div class="col-sm-12">
				<ui:insert name="body" id="page-body"></ui:insert>
		</div>

	</div> <!-- /container -->
	
	<!-- ====================Footer==================== -->
	<div class="container">
		<h:form class="form-horizontal">
			<hr />
			<footer class="bs-docs-footer" role="contentinfo">
				<p class="text-center">&copy; Company 2014</p>
			</footer>
		</h:form>
	</div>
	</body>
</html>