<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:osms="http://java.sun.com/jsf/composite/osms">
<ui:composition template="/WEB-INF/template.xhtml">
	<ui:define name="title">Delete Category</ui:define>

	<ui:define name="body">
		<h:form class="form-horizontal">
			<h1 class="page-header">Delete Category</h1>
			<osms:category form="#{searchCategory.form}" disabled="true">
				<f:facet name="buttons">
					<h:commandButton value="Delete"
						action="#{searchCategory.deleteCategory}"
						styleClass="btn btn-primary" disabled="#{searchCategory.deleted}">
						<f:ajax render="@form"/>
					</h:commandButton>
					<h:button value="Back" outcome="searchCategory"
						styleClass="btn btn-primary">
					</h:button>
				</f:facet>
			</osms:category>
			<h:messages styleClass="text-primary text-center"/>
		</h:form>
	</ui:define>

</ui:composition>
	
</html>