<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:osms="http://java.sun.com/jsf/composite/osms"
	  xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/template.xhtml">
	<ui:define name="title">Delete Product</ui:define>
	<ui:define name="body">
		<h:form class="form-horizontal">
			<h1 class="page-header">Delete Product</h1>
			<osms:product form="#{searchProduct.form}" disabled="true">
				<f:facet name="buttons">
					<h:commandButton value="Delete"
									 action="#{searchProduct.deleteProduct()}"
									 styleClass="btn btn-primary"
									 disabled="#{searchProduct.deleted}">
						<f:ajax render="@form"/>
					</h:commandButton>
					<h:button value="Back" outcome="searchProduct"
							  styleClass="btn btn-primary">
					</h:button>
				</f:facet>
			</osms:product>
			<h:messages styleClass="text-primary text-center"/>
		</h:form>
	</ui:define>
</ui:composition>

</html>