<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:osms="http://java.sun.com/jsf/composite/osms">

<ui:composition template="/WEB-INF/template.xhtml">
	<ui:define name="title">New Category</ui:define>

	<ui:define name="body">
		<h:form class="form-horizontal">
		<h1 class="page-header">New Category</h1>
			<osms:category form="#{newCategory.form}">
				<f:facet name="buttons">
					<h:commandButton value="Save"
						action="#{newCategory.insertCategory()}"
						styleClass="btn btn-primary">
						<f:ajax execute="@form" render="@form"/>
					</h:commandButton>
				</f:facet>
			</osms:category>
			<h:messages styleClass="text-primary text-center"/>
		</h:form>
	</ui:define>

</ui:composition>

</html>