<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core">
	  
<ui:composition template="/WEB-INF/template.xhtml">
	<ui:define name="tite">Search Request</ui:define>
	<ui:define name="body">
		<h1 class="page-header text-center text-success">your purchase has been completed successfully!</h1>
	</ui:define>
</ui:composition>

</html>