<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="title">Search Category</ui:define>
		<ui:define name="body">
			<h:form class="form-horizontal">
				<h1 class="page-header">Search Category</h1>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Name</label>
					<div class="col-sm-8">
						<h:inputText id="text"
									 value="#{searchCategory.options.name}"
									 styleClass="form-control"></h:inputText>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-2">
						<h:commandButton value="Search"
										 action="#{searchCategory.searchCategory}"
										 styleClass="btn btn-primary">
							<f:ajax execute="@form" render=":form-table"/>
						</h:commandButton>
					</div> 
				</div>
			</h:form>
			<h:form class="form-horizontal" id="form-table">
			<!-- Table -->
			<div class="col-sm-8 col-sm-offset-2">
				<div class="table-responsive">
					<div class="form-group">
			
						<h:dataTable value="#{searchCategory.categories}"
									 var="category"
									 rendered="#{searchCategory.showTable}"
									 columnClasses="col-sm-1,col-sm-9,col-sm-2"
									 styleClass="table table-striped table-bordered table-hover table-condensed">
				
							<h:column>
								<f:facet name="header">Id</f:facet>
								#{category.id}
							</h:column>
							<h:column>
								<f:facet name="header">Name</f:facet>
								#{category.name}
							</h:column>
							<h:column>
								<f:facet name="header">Parent</f:facet>
								#{category.father.name}
							</h:column>
							<h:column>
								<f:facet name="header">Update</f:facet>
								<h:commandLink styleClass="btn btn-primary glyphicon glyphicon-pencil"
											   action="#{searchCategory.showUpdateCategory(category)}"/>
							</h:column>
							<h:column>
								<f:facet name="header">Delete</f:facet>
								<h:commandLink action="#{searchCategory.showDeleteCategory(category)}"
											   styleClass="btn btn-primary glyphicon glyphicon-trash"/>
							</h:column>
				
						</h:dataTable>
						
						<!-- Pagination -->
						<center>
							<div class="pagination">
								<ui:repeat var="page" value="#{searchCategory.pages}">
									<li class="#{searchCategory.isActualPage(page) ? 'active' : ''}">
									<h:commandLink value="#{page}"
												   action="#{searchCategory.goToPage(page)}"
												   disabled="#{searchCategory.isActualPage(page) ? 'true' : 'false'}">
										<f:ajax render="@form"></f:ajax>
									</h:commandLink></li>
								</ui:repeat>
							</div>
			
						</center>
						<h:messages styleClass="text-primary text-center"/>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
	</ui:composition>
	
</html>