<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/template.xhtml">
	<ui:define name="title">Search Product</ui:define>
	<ui:define name="body">
	<h:form class="form-horizontal">
		<h1 class="page-header">Search Product</h1>
			<div class="form-group">
				<label class="col-sm-2 control-label">Category</label>
				<div class="col-sm-8">
					<h:selectOneMenu value="#{searchProduct.options.category}" styleClass="form-control">
						<f:selectItem itemLabel="Selecione uma categoria"
									  itemValue="0"/>
						<f:selectItems var="category"
									   value="#{searchProduct.form.categories}"
									   itemValue="#{category.id}"
									   itemLabel="#{category.name}"></f:selectItems>
					</h:selectOneMenu>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Name</label>
				<div class="col-sm-8">
					<h:inputText value="#{searchProduct.options.name}"
								  styleClass="form-control"></h:inputText>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Description</label>
				<div class="col-sm-8">
					<h:inputText value="#{searchProduct.options.description}"
								  styleClass="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Min Price</label>
				<div class="col-sm-2">
					<h:inputText value="#{searchProduct.options.priceMin}"
								  styleClass="form-control"/>
				</div>
				<label class="col-sm-2 control-label">Max Price</label>
				<div class="col-sm-2">
					<h:inputText  value="#{searchProduct.options.priceMax}"
								  styleClass="form-control">
					</h:inputText>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<h:commandButton value="Search"
									 action="#{searchProduct.searchProducts}"
									 styleClass="btn btn-primary">
						<f:ajax execute="@form" render=":form-table"></f:ajax>
					</h:commandButton>
				</div> 
			</div>
		</h:form>
			
			<h:form class="form-horizontal" id="form-table">
			<!-- Table -->
				<div class="table-responsive">
					<div class="form-group">

						<h:dataTable value="#{searchProduct.products}" var="product"
							rendered="#{searchProduct.showTable}" columnClasses=",col-sm-10,,col-sm-2"
							styleClass="table table-striped table-bordered table-hover table-condensed">

							<h:column>
								<f:facet name="header">Image</f:facet>
								<h:graphicImage url="#{product.image}" styleClass="img-thumbnail" width="50"/>
							</h:column>
							<h:column>
								<f:facet name="header">Name</f:facet>
								<h:link outcome="showProduct">
									<f:param name="pId" value="#{product.id}"></f:param>	
									#{product.name}
								</h:link>
							</h:column>
							<h:column>
								<f:facet name="header">Price</f:facet>
								<h:outputText value="#{product.price}">
									<f:converter converterId="DecimalConverter"/>
								</h:outputText>								
							</h:column>
							<h:column>
								<f:facet name="header">Category</f:facet>
								#{product.category.name}
							</h:column>
							<h:column>
								<f:facet name="header">Update</f:facet>
								<h:commandLink
									action="#{searchProduct.showUpdateProduct(product)}"
									styleClass="btn btn-primary glyphicon glyphicon-pencil" />
							</h:column>
							<h:column>
								<f:facet name="header">Delete</f:facet>
								<h:commandLink
									action="#{searchProduct.showDeleteProduct(product)}"
									styleClass="btn btn-primary glyphicon glyphicon-trash"></h:commandLink>
							</h:column>
						</h:dataTable>
						<center>
							<ul class="pagination">
								<ui:repeat var="page" value="#{searchProduct.pages}">
									<li class="#{searchProduct.isActualPage(page) ? 'active' : ''}">
										<h:commandLink value="#{page}"
													   action="#{searchProduct.goToPage(page)}">
											<f:ajax render="@form"></f:ajax>
										</h:commandLink>
									</li>
								</ui:repeat>
							</ul>
						</center>
					</div>
				</div>
				<h:messages styleClass="text-primary text-center"/>		
		</h:form>
	</ui:define>
</ui:composition>

</html>