<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<f:metadata>
		<f:viewParam name="pId" value="#{showProduct.productId}"></f:viewParam>
	</f:metadata>
</h:head>
<ui:composition template="/WEB-INF/template.xhtml">
	<ui:define name="title">#{showProduct.product.name}</ui:define>
	<ui:define name="body">
		<h1 class="page-header">#{showProduct.product.name}</h1>
		
		<h:form class="form-horizontal">
			<div class="form-group">
				<h:graphicImage styleClass="media-object img-responsive col-sm-5"
 								url="#{showProduct.product.image}"/>
 				<div class="col-sm-7">
 					<br/>
 					<p>#{showProduct.product.description}</p>
 						<b>R$
 							<h:outputText value="#{showProduct.product.price}" >
								<f:convertNumber minFractionDigits="2" />
							</h:outputText>				
						</b>
 					<p><h:commandLink styleClass="btn btn-primary glyphicon glyphicon-shopping-cart"
 									  action="#{showProduct.addToRequest}"/></p>
 				</div>
 			</div>
		</h:form>
	</ui:define>
</ui:composition>

</html>