<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core">
	  
<h:head>
	<f:metadata>
		<f:viewParam name="cId" value="#{showCategory.categoryId}"/>
	</f:metadata>
</h:head>

<ui:composition template="/WEB-INF/template.xhtml">
	<ui:define name="title">Prodcuts</ui:define>
	<ui:define name="body">
		<h2 class="page-header">#{showCategory.category.name}</h2>
		<h:form class="form-horizontal">
		<div class="col-sm-12">
		<ui:repeat var="product" value="#{showCategory.products}">
			<div class="col-sm-3">
				<div class="panel panel-primary">
					
					<div class="panel-heading">
						<h:link outcome="showCategory" style="color: white;">
							<f:param name="pId" value="#{product.id}"/>
							#{showCategory.getProductName(product)}
						</h:link>
					</div>
					<div class="panel-body">
						<h:link outcome="showProduct">
							<h:graphicImage url="#{product.image}"
											styleClass="img-responsive center-block" />

							<f:param name="pId" value="#{product.id}"/>
						</h:link>
					</div>
					<div class="panel-footer">
						<p class="text-center">
							<b>R$:
								<h:outputText value="#{product.price}">
									<f:converter converterId="DecimalConverter"/>
								</h:outputText>
							</b>
						</p>				
					</div>
					
				</div>
			</div>
		</ui:repeat>
		</div>
			<center>
			<f:ajax render="@form">
				<h:form rendered="#{!showCategory.products.isEmpty()}">
					<ul class="pagination">
						<li class="#{showCategory.firstPage ? 'disabled' : ''}"><h:commandLink
							action="#{showCategory.previousPage}"
							disabled="#{showCategoryct.firstPage}">&laquo;</h:commandLink>
						</li>
						<ui:repeat var="page" value="#{showCategory.pages}">
							<li class="#{showCategory.isActualPage(page) ? 'active' : ''}">
								<h:commandLink value="#{page}"
											   action="#{showCategory.goToPage(page)}"
											   disabled="#{showCategory.isActualPage(page)}">
								</h:commandLink>
							</li>
						</ui:repeat>
						<li class="#{showCategory.lastPage ? 'disabled' : ''}"><h:commandLink
							action="#{showCategory.nextPage}"
							disabled="#{showCategory.lastPage}">&raquo;</h:commandLink></li>
					</ul>
				</h:form>
			</f:ajax>
			</center>
			<h:messages styleClass="text-danger text-center"/>
		</h:form>
	</ui:define>
</ui:composition>
</html>