<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/template.xhtml">
	<ui:define name="title">Cart</ui:define>
	<ui:define name="body">
		<h1 class="page-header">Cart</h1>
		<h:form class="form-horizontal">	
				<div class="table-responsive">
					<div class="form-group">
						<h:dataTable var="product" value="#{showProduct.request.products}"
									 styleClass="table table-striped table-bordered table-hover table-condensed"
									 columnClasses=",col-sm-11"
									 rendered="#{showProduct.request.products.isEmpty() ? 'false' : 'true'}">
							<h:column>
								<f:facet name="header">Image</f:facet>
								<h:graphicImage url="#{product.image}" width="50" styleClass="img-thumbnail"/>
							</h:column>
							<h:column>
								<f:facet name="header">Name</f:facet>
								<h:link outcome="showProduct">
									<f:param value="#{product.id}" name="pId"></f:param>
									#{product.name}
								</h:link>
							</h:column>
							<h:column>
								<f:facet name="header">Price</f:facet>
									<h:outputText value="#{product.price}" >
										<f:converter converterId="DecimalConverter"/>
									</h:outputText>
							</h:column>
							<h:column>
								<f:facet name="header">Remove</f:facet>
								<h:commandLink
									styleClass="btn btn-primary glyphicon glyphicon-remove"
									action="#{showProduct.removeFromRequest(product)}">
									<f:ajax render="@form :cart"></f:ajax>
								</h:commandLink>
							</h:column>
						</h:dataTable>
					</div>
				</div>
			<h:form rendered="#{showProduct.request.products.isEmpty() ? 'false' : 'true'}">
				<div class="col-sm-offset-10">
					<b>Total R$: 
						<h:outputText styleClass="col-sm-6 control-label"
							value="#{showProduct.total}">
							<f:converter converterId="DecimalConverter" />
						</h:outputText>
					</b>
					<h:commandButton value="Checkout" styleClass="btn btn-primary"
						rendered="#{showProduct.request.products.isEmpty() ? 'false' : 'true'}"
						action="#{showProduct.checkout}" />
				</div>
			</h:form>
		</h:form>
	
	</ui:define>
</ui:composition>

</html>